<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성 - 내 게시판</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <h1>게시글 작성</h1>
    <nav>
        <a th:href="@{/}">홈</a> |
        <a th:href="@{/board/list}">게시판 목록</a>
    </nav>
</header>
<main>
    <form th:action="@{/post/save}" th:object="${post}" method="post">
        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력하세요" required/>
        </div>
        <div>
            <label for="content">내용:</label>
            <textarea id="content" th:field="*{content}" placeholder="내용을 입력하세요" required></textarea>
        </div>
        <div>
            <button type="submit">저장</button>
        </div>
    </form>
</main>
<footer>
    <p>&copy; created in 2025 by slykid</p>
</footer>
</body>
</html>
